<style>
h1{
  font-size: 45px;
}
body{
  font-family: helvetica;
  background-color: black;
  color: white;
}
img{
  width: 25vw;
}
ul{
  color: blue;
  font-family: cursive;
  font-weight: 800;
}
form{
   margin-left: 20px;
}
#second{
  color: green;
}
</style>
